<div id="intro" ng-controller="IntroCtrl">

	<div class="header">
		<div id="logo" class="logotype">
			<img src="images/logotype.png">
		</div>
		<div id="right-bloq">
			<div id="line" class="line"></div>
		</div>
	</div>

	<div class="content">
		<div class="title">
			<img src="images/conquerurfears.png">
		</div>
		<div class="btn_intro">
			<a href="#/talent" id="goToApp">click</a>
		</div>
		<div class="mountain">
			<img id="mountain" src="images/montain.png">
		</div>
	</div>


	<div id="footerWrapper">
		<div id="footer" class="footer"></div>
	</div>
	
</div>